@model IEnumerable<SC9Demo.Models.Movie>
@{
    var genres = Sitecore.Context.Database.GetItem(new Sitecore.Data.ID("{65D9D082-D09A-4C80-87B7-B605FAE9544A}")).Children;
    string g;
}
<!-- Cube Portfolio Blocks - Filter -->
<ul id="filterControls" class="d-block list-inline text-center g-mb-50">
    <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button" data-filter="*">
        All
    </li>
    @foreach (Sitecore.Data.Items.Item item in genres)
    {        
        <li class="list-inline-item cbp-filter-item cbp-filter-item-active g-brd-around g-brd-gray-light-v4 g-brd-primary--active g-color-gray-dark-v4 g-color-primary--hover g-color-primary--active g-font-size-12 rounded g-transition-0_3 g-px-20 g-py-7 mb-2" role="button" data-filter=".@item.Name.Replace(" ", "_")">
            @item.Name
        </li>
    }

</ul>
<!-- End Cube Portfolio Blocks - Filter -->
<!-- Cube Portfolio Blocks - Content -->
<div class="cbp" data-controls="#filterControls" data-animation="quicksand" data-x-gap="30" data-y-gap="30" data-media-queries='[{"width": 1500, "cols": 4},{"width": 1100, "cols": 4},{"width": 800, "cols": 3},{"width": 480, "cols": 2},{"width": 300, "cols": 1}]'>

    @foreach (var movie in Model)
    {
         g = ""; 
        foreach (var genre in movie.Genre)
        {
            g = g + genre.Replace(" ", "_") + " ";
        }
    <!-- Cube Portfolio Blocks - Item -->
    <div class="cbp-item @Html.Raw(g) ">
        <div class="u-block-hover g-parent">
            @Html.Sitecore().Field("poster", movie.Item, new { @class = "img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" })
            <div class="d-flex w-100 h-100 g-bg-black-opacity-0_6 opacity-0 g-opacity-1--parent-hover g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in u-block-hover__additional--fade u-block-hover__additional--fade-in g-pa-20">
                <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                    <li class="list-inline-item">
                        <a class="u-icon-v2 u-icon-size--xs g-brd-white g-color-black g-bg-white rounded-circle" href="@movie.Url">
                            <i class="fa fa-file-movie-o"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="u-shadow-v19 g-bg-white text-center g-pa-25 mb-1">
            <h3 class="h5 g-color-black g-font-weight-700 mb-1">@Html.Sitecore().Field("title", movie.Item)</h3>
        </div>
    </div>
    <!-- End Cube Portfolio Blocks - Item -->
    }
</div>
<!-- End Cube Portfolio Blocks - Content -->

